[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.*"
django-heroku = "*"
gunicorn = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.6"
